<table class="mash-forms forms-div">
<%= semantic_form_for @recipe do |f| %>
    <% f.inputs do %>
            <tr class="yellow lighten-1">
                <td colspan="3"><h5 class="">Mash & Fermentables</h5></td>
                <td class="mash-target input-field">
                    <%= f.number_field :mash_target_temp %>
                    <label for="mash_target_temp">Target Mash Temp</label>
                </td>
                <td colspan="2">˚F</td>
                <td class="mash-length input-field">
                    <%= f.number_field :mash_length %>
                    <label for="mash_length">Mash Length</label>
                </td>
                <td>mins</td>
                <td colspan="2" class="right-align"><small>Step Mash or Decotion?</small></td>
            </tr>
            <div class="included-fermentables nested-fields">    
                <%= f.semantic_fields_for :recipe_fermentables do |fermentable| %>
                    <% render 'recipe_fermentables/fermentables', :f => fermentable %>
                <% end %>
            </div>
            </tr>
                <tr class="add-fermentable">
                    <td colspan="5"><button data-target="modal_add_fermentable" class="btn modal-trigger yellow darken-4">Add Fermentable</button></td>
                    <!-- <td colspan="5" class="right-align"><button data-target="modal_create_fermentable" class="btn modal-trigger yellow darken-4">Create Custom</button></td> -->
                </tr>
                <% @recipe.recipe_others.each do |other| %>
                    <tr>
                        <td colspan="3">OTHER MASH INGREDIENT</td>
                        <td>AMNT LBS^</td>
                        <td colspan="2"></td>
                        <td>LOCATION</td>
                        <td></td>
                        <td><a data-target="modal_edit_fermentable<%= recipe_fermentable.id %>" class="modal-trigger "><%= image_tag("icon-advanced.png", height: "15", alt: "Edit this fermentable")%></a></td>
                            <div class="modal" id="modal_edit_fermentable<%= recipe_fermentable.id %>">
                                <div class="modal-content">
                                    <h4>Edit Other Ingredient</h4>
                                    
                                </div>
                            </div>
                        <td>X</td>
                    </tr>
                <% end %>
                <tr>
                    <td colspan="5"><button data-target="modal_add_other" class="btn modal-trigger yellow darken-3">Add Other</button></td>
                    <td colspan="5" class="right-align"><button data-target="modal_create_other" class="btn modal-trigger yellow darken-3">Create Custom</button></td>
                </tr>
        </table><!-- MASH FORMS-->
        
    <% end %>
<% end %>

<!-- MODALS -->
<div id="modal_add_fermentable" class="modal">
    <div class="modal-content">
        <%= render partial: 'recipe_fermentables/add' %>
    </div>
</div>
<div id="modal_create_fermentable" class="modal">
    <div class="modal-content">
        <h5>CREATE CUSTOM FERMENTABLE</h5>
        
    </div>
</div>
<div id="modal_add_other" class="modal">
    <div class="modal-content">
        ADD OTHER 
    </div>
</div>
<div id="modal_create_other" class="modal">
    <div class="modal-content">
        CREATE OTHER
    </div>
</div>
