<%= form_for [other] do |f| %>
    <% if other.errors.any? %>
        <div class="alert alert-danger">
            <h4><%= pluralize(other.errors.count, "error") %>.</h4>
            <ul>
                <% other.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="row">
        <form class="col s12">
            <small>* required</small>
            <div class="row">
                <div class="input-field col s6">
                    <%= form_group_tag(other.errors[:name]) do %>
                        <label for="name">Other Ingredient Name*</label>
                        <%= f.text_field :name %>
                    <% end %>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="comment">Comments</label>
                    <%= f.text_area :comment, rows: 8 %>
                </div>
            </div>
            <div class="row">
                <div class="col s2">
                    <% if other.id %>
                        <%= link_to "DELETE", other, method: :delete, class: 'btn red darken-4', data: { confirm: 'Are you sure you want to delete this other ingredient?'} %>
                    <% end %>
                </div>
                <div class="col s2 offset-s7">
                    <%= f.submit "SAVE", class: 'btn orange darken-3' %>
                </div>
            </div>
        </form>
    </div>
<% end %>
