<div class="row">
    <div class=""><h2>Other Ingredients</h2></div>
    <button data-target="modal_add_other" class="btn modal-trigger orange darken-3">Add Hop Variety</button>
</div>

<ul class="collapsible" data-collapsible="accordion">
    <% @others.each do |other| %>
        <li>
            <div class="collapsible-header row">
                <div class="col s1">
                    <%= image_tag("icon-ingredient.png", height: "15")%>
                </div>
                <div class="col s4">
                    <%= other.name %> 
                </div>
                <div class="col s1">
                    <a data-target="modal_edit_other<%= other.id %>" class="modal-trigger "><%= image_tag("icon-advanced.png", height: "15", alt: "Edit this ingredient")%></a>                
                </div>
                <div id="modal_edit_other<%= other.id %>" class="modal modal_edit_other<%= other.id %>">
                    <div class="modal-content">
                        <h4>Edit Other Ingredient</h4>
                        <%= render partial: 'form', locals: { other: other, id: other.id } %>
                    </div>
                </div>
            </div>
            <div class="collapsible-body">
                <div class="row">
                    <span class="col s9">Comment: <%= other.comment %> </span>
                </div>
            </div>
        </li>
    <% end %>
</ul>

<div id="modal_add_other" class="modal modal_add_other">
    <div class="modal-content">
        <%= render :template => "others/new" %>
    </div>
</div>

