<%= form_for [hop] do |f| %>
    <% if hop.errors.any? %>
        <div class="alert alert-danger">
            <h4><%= pluralize(hop.errors.count, "error") %>.</h4>
            <ul>
                <% hop.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="row">
        <form class="col s12">
            <small>* required</small>
            <div class="row">
                <div class="input-field col s6">
                    <%= form_group_tag(hop.errors[:name]) do %>
                        <label for="name">Hop Variety Name*</label>
                        <%= f.text_field :name, class: 'form-control' %>
                    <% end %>
                </div>
                <div class="col s4 offset-s1">
                    <label for="hop_type">Hop Type</label>
                    <%= f.select(:hop_type, hop_types) %>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s3">
                    <%= form_group_tag(hop.errors[:alpha_acid]) do %>
                        <label for="alpha_acid">% Alpha Acid*</label> 
                        <%= f.text_field :alpha_acid, class: 'form-control' %>
                    <% end %>
                </div>
                <div class="input-field col s6 offset-s3">
                    <label for="origin">Country of Origin</label> 
                    <%= f.text_field :origin, class: 'form-control' %>   
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="comment">Comments</label>
                    <%= f.text_area :comment, rows: 8, class: 'form-control' %>
                </div>
            </div>
            <div class="row">
                <div class="col s2">
                    <% if hop.id %>
                        <%= link_to "DELETE", hop, method: :delete, class: 'btn red darken-4', data: { confirm: 'Are you sure you want to delete this hop variety?'} %>
                    <% end %>
                </div>
                <div class="col s2 offset-s7">
                    <%= f.submit "SAVE", class: 'btn orange darken-3' %>
                </div>
            </div>
        </form>
    </div>
<% end %>
