<%= form_for [@recipe] do |f| %>
<table class="equipment-forms forms-div">
    <tr class="blue lighten-3">
        <td colspan="5"><h5>Equipment Profile</h5></td>
        <td colspan="1"><button data-target="modal_load_profile" class="btn modal-trigger blue darken-1">Load Profile</button></td>
        <td colspan="4"><button data-target="modal_create_profile" class="btn modal-trigger blue darken-2">Save Profile As...</button></td>
    </tr>
    <tr>
        <td colspan="5" class="center-align">Equipment Numbers</td>
        <td colspan="5" class="center-align">Recipe Numbers</td>
    </tr>
    <tr>
        <td colspan="2" class="right-align">Batch Size:</td>
        <td class="input-field"><%= f.number_field :size, :value => 5 %></td>
        <td colspan="2">GAL^ <%= image_tag("icon-advanced.png", height: "15", alt: "Edit equipment")%></td>
        <td colspan="3" class="right-align">Boil Time</td>
        <td colspan="2">AUTO mins <%= image_tag("icon-advanced.png", height: "15", alt: "Edit equipment")%></td>
    </tr>
    <tr>
        <td colspan="2" class="right-align">Kettle Volume:</td>
        <td class="input-field"><%= f.number_field :equipment_kettle_volume, :value => 6 %></td>
        <td colspan="2">GAL^</td>
        <td colspan="3" class="right-align">Grain Bill</td>
        <td colspan="2">AUTO LBS <%= image_tag("icon-advanced.png", height: "15", alt: "Edit equipment")%></td>
    </tr>
    <tr>
        <td colspan="2" class="right-align">Trub Loss:</td>
        <td class="input-field"><%= f.number_field :trub_loss, :value => 0.5 %></td>
        <td colspan="2">GAL^</td>
        <td colspan="3" class="right-align">Target Mash Temp</td>
        <td colspan="2">AUTO ˚F <%= image_tag("icon-advanced.png", height: "15", alt: "Edit equipment")%></td>
    </tr>
    <tr>
        <td colspan="2" class="right-align">Equipment Loss:</td>
        <td class="input-field"><%= f.number_field :equipment_loss, :value => 0.5 %></td>
        <td colspan="2">GAL^</td>
        <td colspan="5"></td>
    </tr>
    <tr>
        <td colspan="2" class="right-align">Mash Efficiency:</td>
        <td class="input-field"><%= f.number_field :mash_efficiency, :value => 80 %></td>
        <td colspan="2">% <%= image_tag("icon-advanced.png", height: "15", alt: "Edit equipment")%></td>
        <td colspan="5" class="center-align">Estimated results</td>
    </tr>
    <tr>
        <td colspan="5" class="center-align">Typical Constants^</td>
        <td colspan="3" class="right-align">Strike Water for Mash:</td>
        <td colspan="2">AUTO gal</td>
    </tr>
    <tr>
        <td colspan="2" class="right-align">Evaporation Rate:</td>
        <td class="input-field"><%= f.number_field :equipment_evaporation_rate, :value => 15 %></td>
        <td colspan="2">%</td>
        <td colspan="4" class="right-align">Strike Temp for Mash:</td>
        <td colspan="2">AUTO gal</td>
        
    </tr>
    <tr>
        <td colspan="2" class="right-align">Wort Shrinkage:</td>
        <td class="input-field"><%= f.number_field :equipment_wort_shrinkage, :value => 4 %></td>
        <td colspan="2">%</td>
        <td colspan="4" class="right-align">Sparge Water Volume:</td>
        <td colspan="2">AUTO gal</td>
        
    </tr>
    <tr>
        <td colspan="2" class="right-align">Grain Absorption:</td>
        <td class="input-field"><%= f.number_field :mash_grain_absorption, :value => 0.13 %></td>
        <td colspan="2">GAL/lbs</td>
        <td colspan="3" class="right-align">Total Water Volume:</td>
        <td colspan="2">AUTO gal</td>
    </tr>
    <tr>
        <td colspan="2" class="right-align">Mash Thickness:</td>
        <td class="input-field"><%= f.number_field :mash_thickness, :value => 1.33 %></td>
        <td colspan="2">qts/lb</td>
        <td colspan="3" class="right-align">Pre-Boil Wort Volume:</td>
        <td colspan="2">AUTO gal</td>
        
    </tr>
    <tr>
        <td colspan="2" class="right-align">Grain Temp:</td>
        <td class="input-field"><%= f.number_field :grain_temp, :value => 70 %></td>
        <td colspan="2">˚F</td>
        <td colspan="3" class="right-align">Post-Boil Wort Volume:</td>
        <td colspan="2">AUTO gal</td>
    </tr>
</table><!-- EQUIPMENT FORMS -->
<div id="modal_load_profile" class="modal">
    <div class="modal-content">
        LOAD PROFILE 
    </div>
</div>
<div id="modal_create_profile" class="modal">
    <div class="modal-content">
        CREATE PROFILE 
    </div>
</div>
<% end %>