<table class="mash-forms forms-div">
        <tr class="yellow lighten-1">
            <td colspan="3"><h5 class="">Mash & Fermentables</h5></td>
            <td colspan="2" class="mash-target">Target Temp Temp Form ˚F</td>
            <td colspan="2" class="mash-length">Mash 60 mins</td>
            <td colspan="3" class="right-align"><small>Step Mash or Decotion?</small></td>
        </tr>
        <% @recipe.recipe_fermentables.each do |fermentable| %>
            <tr class="included-fermentables">
                <td colspan="3">FERMENTABLE NAME</td>
                <td>AMNT LBS^</td>
                <td>Col˚L</td>
                <td>EXT%</td>
                <td>LOCATION</td>
                <td>BILL%</td>
                <td><%= image_tag("icon-advanced.png", height: "15", alt: "Edit equipment")%></td>
                <td>X</td>
            </tr>
            <tr class="add-fermentable">
                <td colspan="5"><button data-target="modal_add_fermentable" class="btn modal-trigger yellow darken-4">Add Fermentable</button></td>
                <td colspan="5" class="right-align"><button data-target="modal_create_fermentable" class="btn modal-trigger yellow darken-4">Create Custom</button></td>
            </tr>
            <tr>
                <td colspan="3">OTHER MASH INGREDIENT</td>
                <td>AMNT LBS^</td>
                <td colspan="2"></td>
                <td>LOCATION</td>
                <td></td>
                <td><a data-target="modal_edit_fermentable<%= fermentable.id %>" class="modal-trigger "><%= image_tag("icon-advanced.png", height: "15", alt: "Edit this fermentable")%></a></td>
                    <div class="modal" id="modal_edit_fermentable<%= fermentable.id %>">
                        <div class="modal-content">
                            <h4>Edit Fermentable</h4>
                            <%= render partial: 'form', locals: { recipe_fermentable: recipe_fermentable, id: recipe_fermentable.id } %>
                        </div>
                    </div>
                <td>X</td>
            </tr>
        <% end %>
        <tr>
            <td colspan="5"><button data-target="modal_add_other" class="btn modal-trigger yellow darken-3">Add Other</button></td>
            <td colspan="5" class="right-align"><button data-target="modal_create_other" class="btn modal-trigger yellow darken-3">Create Custom</button></td>
        </tr>
    </table><!-- MASH FORMS-->
<div id="modal_add_fermentable" class="modal">
    <div class="modal-content">
        <%= render :template => "recipe_fermentables/new" %>
    </div>
</div>
<div id="modal_create_fermentable" class="modal">
    <div class="modal-content">
        CREATE FERMENTABLE
    </div>
</div>
<div id="modal_add_other" class="modal">
    <div class="modal-content">
        ADD OTHER 
    </div>
</div>
<div id="modal_create_other" class="modal">
    <div class="modal-content">
        CREATE OTHER
    </div>
</div>