<%= semantic_form_for [@recipe] do |f| %>
<% f.inputs do %>
    <div id="fixed-menu" class="recipe-snapshot amber darken-3">
        <div id="mash" class="about-brew valign-wrapper amber darken-3 row">
            <div class="brew-name input-field col s3">
                <%= f.text_field :name %>
                <label for="name">Recipe Name</label>     
            </div>
            <div class="brew-style input-field col s3">
                <%= f.text_field :style %>
                <label for="style">Beer Style</label>    
            </div>
            <div class="brew-type col s3">
                <%= f.select(:recipe_type, recipe_types) %>
            </div>
            <div class="brew-profile col s3">
                Equipment Profile
                <a href="#equipment"><%= image_tag("icon-advanced.png", height: "15", alt: "Edit equipment")%></a>
            </div>
        </div><!-- ABOUT BREW -->
        <div class="divider"></div>
        <div class="brewday-basics amber darken-4 row">
            <div class="brewday-mash scrollable col s4">
                <table>
                    <tbody>
                        <tr>
                            <th>Mash</th>
                            <th>Mash Length: <%= @recipe.mash_length %><a href="#mash"><%= image_tag("icon-advanced.png", height: "15", alt: "Edit Mash")%></a></th>
                        </tr>
                        <tr>
                            <td>Total Malt:</td>
                            <td><%= @recipe.grain_bill%>Lbs</td>
                        </tr>
                        <% @recipe.recipe_fermentables.each do |fermentable| %>
                            <tr>
                                <td><%= fermentable.name %></td>
                                <td><%= fermentable.amount %></td>
                            </tr>
                        <% end %>
                        <% @recipe.recipe_others.where(location: 'Mash') do |other| %>
                            <tr>
                                <td><%= other.name %></td>
                                <td><%= other.amount %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div><!-- BREWDAY MASH -->
            <div class="brewday-boil scrollable yellow darken-4 col s5">
                <table>
                    <tbody>
                        <tr>
                            <th>Boil</th>
                            <th>Boil Length: <%= @recipe.boil_length %>mins</td>
                            <th><a href="#boil"><%= image_tag("icon-advanced.png", height: "15", alt: "Edit boil")%></a></th>
                        </tr>
                        <% @recipe.recipe_hops.each do |fermentable| %>
                            <tr>
                                <td><%= fermentable.name %></td>
                                <td><%= fermentable.amount %></td>
                            </tr>
                        <% end %>
                        <% @recipe.recipe_others.each do |other| %>
                            <tr>
                                <td><%= other.name %></td>
                                <td><%= other.amount %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>     
            </div><!-- BREWDAY BOIL -->
            <div class="brewday-numbers col s3">
                <ul class="center-align">
                    <li>Batch Size:       <%= @recipe.size %> Gal.<a href="#equipment"><%= image_tag("icon-advanced.png", height: "15", alt: "Edit equipment")%></a></li>
                    <li>Mash Target Temp: <%= @recipe.mash_target_temp %> ˚F<a href="#mash"><%= image_tag("icon-advanced.png", height: "15", alt: "Edit Mash")%></a></li>
                    <li>Mash Strike Temp: <%= @recipe.mash_strike_temp %> ˚F<a href="#mash"><%= image_tag("icon-advanced.png", height: "15", alt: "Edit Mash")%></a></li>
                    <li>Mash Strike Vol:  <%= @recipe.mash_strike_volume %> Gal.</li>
                    <li>Sparge Vol:       <%= @recipe.mash_sparge_volume %> Gal.</li>
                    <li>Yeast: <%= @recipe.recipe_yeasts.name %><a href="#fermentation"><%= image_tag("icon-advanced.png", height: "15", alt: "Edit Fermentation")%></a></li>
                    <li>Cells Needed: Some big number</li>
                </ul>
            </div><!-- BREWDAY NUMBERS -->
        </div><!-- BREWDAY BASICS -->
    </div><!-- RECIPE SNAPSHOT -->
    <table id="fixed-stats" class="brew-stats orange lighten-2">
        <tr class="top-bars">
            <td class="og-bar stat-bar center-align">
                O.G.
            </td>
            <td class="fg-bar stat-bar center-align">
                F.G.
            </td>
            <td class="abv-bar stat-bar center-align">
                ABV
            </td>
        </tr>
        <tr class="bottom-bars">
            <td class="ibu-bar stat-bar center-align">
                IBU
            </td>
            <td class="color-bar stat-bar center-align">
                ˚L
            </td>
            <td class="bugu-bar stat-bar center-align">
                BU:GU
            </td>
        </tr>    
                
            
    </table><!-- BREW STATS -->
    <div id="adjust-for-menu" class="recipe-forms">
        
        <table class="mash-forms forms-div">
            <tr class="mash-bascs yellow lighten-1">
                <td colspan="3"><h5>Mash & Fermentables</h5></td>
                <td colspan="2">Mash Temp:</td>
                <td class="mash-target input-field">
                    <%= f.number_field :mash_target_temp %>
                </td>
                <td>˚F</td>
                <td colspan="2">Mash Length:</td>
                <td class="mash-length input-field">
                    <%= f.number_field :mash_length %>
                </td>
                <td colspan="3">mins</td>
            </tr><!-- MASH BASICS -->
            <!-- WHERE COCOON SHOULD WORK ITS MAGIC -->
            <div class="included-fermentables nested-fields">    
                <%= f.semantic_fields_for :recipe_fermentables do |fermentable| %>
                    <tr class="fermentable-row">
                        
                            <td colspan="3"><%= fermentable.text_field :name %></td>
                            <td class="fermentable-amount"><%= fermentable.number_field :amount, step: 0.1 %></td>
                            <td>LBS^</td>
                            <td><%= fermentable.number_field :color %></td>
                            <td>˚L</td>
                            <td><%= fermentable.number_field :extract %></td>
                            <td>%Extract</td>
                            <td colspan="2">
                            <% if fermentable.object.ferm_type != 'Sugar Adjunct' %>
                                <%= fermentable.select(:location, grain_locations) %>
                            <% else %>
                                <%= fermentable.select(:location, sugar_locations) %>
                            <% end %>
                            </td>
                            <td> <%= fermentable.object.percent_malt_bill %>%</td>
                            <td><%= link_to "X", recipe_recipe_fermentable_path(recipe_id: @recipe.id, id: f.object.id), method: :delete %></td>
                        
                    </tr>
                <% end %>
            </div>
            <tr class="add-create-fermentable">
                <td colspan="6"><button data-target="modal_add_fermentable" class="btn modal-trigger yellow darken-4">Add Fermentable</button></td>
                <td colspan="6" class="right-align"><button data-target="modal_create_fermentable" class="btn modal-trigger yellow darken-4">Create Custom</button></td>
            </tr>
        </table><!-- MASH FORMS-->
        <!-- MODALS for MASH -->
            <div id="modal_add_fermentable" class="modal">
                <div class="modal-content">
                    <%= render partial: 'recipe_fermentables/add' %>
                </div>
            </div>
            <div id="modal_create_fermentable" class="modal">
                <div class="modal-content">
                    <h5>CREATE CUSTOM FERMENTABLE</h5>
                    <p>Sorry, this isn't working yet. Click on the "Fermentables" link in the nav bar and create a new fermentable there, then you can come back here and add it.</p>
                </div>
            </div>
        <!-- MODALS for MASH -->
        
        <div id="boil" class="divider"></div>

        <%= render partial: 'boil_table', locals: {  } %>

        <div id="fermentation" class="divider"></div>

        <%= render partial: 'fermentation_table', locals: {  } %>

        <div id="other" class="divider"></div>
            <table>
                <% @recipe.recipe_others.each do |other| %>
                <tr>
                    <td colspan="3">OTHER MASH INGREDIENT</td>
                    <td>AMNT LBS^</td>
                    <td colspan="2"></td>
                    <td>LOCATION</td>
                    <td></td>
                    <td><a data-target="modal_edit_fermentable<%= recipe_fermentable.id %>" class="modal-trigger "><%= image_tag("icon-advanced.png", height: "15", alt: "Edit this fermentable")%></a></td>
                        <div class="modal" id="modal_edit_fermentable<%= recipe_fermentable.id %>">
                            <div class="modal-content">
                                <h4>Edit Other Ingredient</h4>
                                
                            </div>
                        </div>
                    <td>X</td>
                </tr>
                <% end %>
                <tr>
                    <td colspan="5"><button data-target="modal_add_other" class="btn modal-trigger yellow darken-3">Add Other</button></td>
                    <td colspan="5" class="right-align"><button data-target="modal_create_other" class="btn modal-trigger yellow darken-3">Create Custom</button></td>
                </tr>
            </table>
            <!-- MODALS FOR OTHERS -->
                <div id="modal_add_other" class="modal">
                    <div class="modal-content">
                        ADD OTHER 
                    </div>
                </div>
                <div id="modal_create_other" class="modal">
                    <div class="modal-content">
                        <h5>CREATE CUSTOM OTHER</h5>
                        <p>Sorry, this isn't working yet. Click on the "Fermentables" link in the nav bar and create a new fermentable there, then you can come back here and add it.</p>
                    </div>
                </div>
            <!-- MODALS FOR OTHERS -->

        <div id="equipment" class="divider"></div>
        
        <%= render partial: 'equipment_table', locals: {  } %>
        
        <div class="divider"></div>
        
        <div class="comment-form forms-div">
            <h5>Comments</h5>
        </div><!-- COMMENT FORM -->
        <div class="form-actions">
            <%= f.button :submit, class: 'btn' %>
            

        </div>
            
    </div><!-- RECIPE FORMS -->
    <% end %>
<% end %>
