<%= form_for [fermentable] do |f| %>
    <% if fermentable.errors.any? %>
        <div class="alert alert-danger">
            <h4><%= pluralize(fermentable.errors.count, "error") %>.</h4>
            <ul>
                <% fermentable.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="row">
        <form class="col s12">
            <small>* required</small>
            <div class="row">
                <div class="input-field col s6">
                    <%= form_group_tag(fermentable.errors[:name]) do %>
                        <label for="name">Fermentable Name*</label>
                        <%= f.text_field :name %>
                    <% end %>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <%= form_group_tag(fermentable.errors[:alpha_acid]) do %>
                        <label for="extract">% Extract*</label> 
                        <%= f.text_field :extract %>
                    <% end %>
                </div>
                <div class="col s4 offset-s2">
                    <label for="ferm_type">Fermentable Type</label>
                    <%= f.select(:ferm_type, ferm_types) %>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <label for="color">Color(˚L)*</label>
                    <%= f.number_field :color %>
                </div>
                <div class="input-field col s5 offset-s2">
                    <label for="usage_rate">Max Usage Rate(%)</label>
                    <%= f.number_field :usage_rate %>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <label for="maltster">Maltster</label>
                    <%= f.text_field :maltster %>
                </div>
                <div class="input-field col s6">
                    <label for="origin">Country of Origin</label> 
                    <%= f.text_field :origin %>   
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="comment">Comments</label>
                    <%= f.text_area :comment, rows: 8 %>
                </div>
            </div>
            <div class="row">
                <div class="col s2">
                    <% if fermentable.id %>
                        <%= link_to "DELETE", fermentable, method: :delete, class: 'btn red darken-4', data: { confirm: 'Are you sure you want to delete this fermentable?'} %>
                    <% end %>
                </div>
                <div class="col s2 offset-s7">
                    <%= f.submit "SAVE", class: 'btn orange darken-3' %>
                </div>
            </div>
        </form>
    </div>
<% end %>
