<div class="row">
    <div class=""><h5>Hops</h5></div>
</div>

<ul class="collapsible" data-collapsible="accordion">
    <% @hops.each do |hop| %>
        <li>
            <div class="collapsible-header row">
                <div class="add-button col s2">
                    <button class="yellow"><%= link_to "ADD", recipe_add_copy_hop_path(recipe_id: @recipe.id, hop_id: hop.id), method: :add_copy_hop %></button>
                </div>
                <div class="col s1">
                    <%= image_tag("icon-hops.png", height: "15")%>
                </div>
                <div class="col s4">
                    <%= hop.name %> 
                </div>
                <div class="col s3">
                    <%= hop.alpha_acid %>% AA
                </div>
                <div class="col s2">
                    <%= hop.hop_type %>
                </div>
            </div>
            <div class="collapsible-body">
                <div class="row">
                    <span class="col s9">Comment: <%= hop.comment %> </span>
                    <span class="col s3">Origin:  <%= hop.origin %></span>
                </div>
            </div>
        </li>
    <% end %>
</ul>

