<!DOCTYPE html>
<html>
  <head>
    <title>Brewright</title>
    <%= csrf_meta_tags %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="col offset-s1">
      <nav>
        <div class="nav-wrapper amber darken-2">
          <ul class="">
            <li><%= image_tag("logo_white.png", height: "60", alt: "Brewright Logo")%></li>
            <li><%= link_to "Home", root_path%></li>
            <li><%= link_to "New Recipe", new_recipe_path%></li>
            <li><%= link_to "Load Recipe", recipes_path%></li>
            <li><%= link_to "Fermentables", fermentables_path%></li>
            <li><%= link_to "Hops", hops_path%></li>
            <li><%= link_to "Yeast", yeasts_path%></li>
            <li><%= link_to "Other", others_path%></li>
            <li><%= link_to "Help", welcome_about_path%></li>
          </ul>
        </div>
      </nav>
      <% if flash[:notice] %>
          <div class="alert alert-sucess">
              <button type="button" class="close" data-dismss="alert">&times;</button>
              <%= flash[:notice] %>
          </div>
      <% elsif flash[:alert] %>
          <div class="alert alert-warning">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <%= flash[:alert] %>
          </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
