<!DOCTYPE html>
<html>
  <head>
    <title>Brewright</title>
    <%= csrf_meta_tags %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav>
        <div class="nav-wrapper amber darken-2">
          <ul class="left hide-on-med-and-down">
            <li><%= link_to "Home"%></li>
            <li><%= link_to "New Recipe"%></li>
            <li><%= link_to "Load Recipe"%></li>
            <li><%= link_to "Fermentables"%></li>
            <li><%= link_to "Hops"%></li>
            <li><%= link_to "Yeast"%></li>
            <li><%= link_to "Other"%></li>
            <li><%= link_to "Help"%></li>
          </ul>
        </div>
      </nav>
      <% if flash[:notice] %>
          <div class="alert alert-sucess">
              <button type="button" class="close" data-dismss="alert">&times;</button>
              <%= flash[:notice] %>
          </div>
      <% elsif flash[:alert] %>
          <div class="alert alert-warning">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <%= flash[:alert] %>
          </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
