<!DOCTYPE html>
<html>
  <head>
    <title>Brewright</title>
    <%= csrf_meta_tags %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="col offset-s1">
      <nav>
        <div class="nav-wrapper amber darken-2">
          <ul class="">
            <li><%= image_tag("logo_white.png", height: "60", alt: "Brewright Logo")%></li>
            <li><%= link_to "Home", root_path%></li>
            <li><%= link_to "Recipes", recipes_path%></li>
            <li><%= link_to "Fermentables", fermentables_path%></li>
            <li><%= link_to "Hops", hops_path%></li>
            <li><%= link_to "Yeast", yeasts_path%></li>
            <li><%= link_to "Other", others_path%></li>
            <li><%= link_to "Help", welcome_about_path%></li>
            <li>Reload the page for popup menus to work properly</li>
          </ul>
        </div>
      </nav>
      <% if flash[:notice] %>
          <div class="row flow-text green lighten-1">
              <%= flash[:notice] %>
              <button type="button" class="close grey" data-dismss="notice">X</button>
          </div>
      <% elsif flash[:alert] %>
          <div class="row flow-text red lighten-1">
              <%= flash[:alert] %>
              <button type="button" class="close btn" data-dismiss="alert">X</button>
          </div>
      <% end %>
      
      <%= yield %>
      
    </div>
  </body>
</html>
